<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        var controller=module.controller("myController",function($scope,$http)
        {
          $scope.jsonRecordsAry=[];
          $scope.doFetchAll=function()
          {
            let url="/angular-fetch-all-customers";
            $http.get(url).then(done,fail);
            function done(response)
            {
                $scope.jsonRecordsAry=response.data;
            }
            function fail(response)
            {
                alert(response.data);
            }
          }
        })
    </script>
</head>
<body ng-app="myModule" ng-controller="myController">
    <center>
        <input type="button" value="Fetch All Records" ng-click="doFetchAll();" >
        <br><br>
        <table width="700" border="1" rules="all">
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Pic</th>
            </tr>
            <tr ng-repeat="obj in jsonRecordsAry">
                <td>{{obj.emailid}}</td>
                <td>{{obj.FName}}</td>
                <td>{{obj.contact}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.city}}</td>
                <td>{{obj.state}}</td>
                <td>{{obj.ppic}}</td>
               
            </tr>
        </table>
    </center>
    
</body>
</html>